*{
	margin:0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Segoe UI", Arial, sans-serif;
}

body{
	background-color: #EFEFEF;
}

/*index*/
.container>.navbar-header{
	margin-right: 0px;
	margin-left: 0px;
}
.main-content-index{
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
}

.choose-type-part{
	text-align: center;
}
.personal a{
	background-color: rgba(13,131,206,0.9);
}
.personal a:hover,
.personal a:focus,
{
	background-color: #397ccb;
}
.company a{
	background-color: #EC870E;
}
.company a:hover,
.company a:focus,
.div-item-home:hover,
.div-item-home:focus,
.next-step:hover, .next-step:focus{
	background-color: #f59625;
}
/*.div-item-home:hover,
.div-item-home:focus{
	background-color:rgba(13,131,206,0.9);
}*/
.next-step{
	background-color:#EC870E;
}
.type{
	padding-top: 10px;
}
.type a{
	color: #fff;
	text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.different-content{
	padding-left: 0px;
	padding-right: 0px;
}

/*home*/
.choose-type-home, .bottom-btn{
	padding-right: 0px;
	padding-left: 0px;
}
.header-home{
	padding-right: 0px; 
	padding-left: 0px; 
	box-shadow: rgba(228, 228, 228, 0.95) 0px 1px 4px;
}
.header-home .navbar{
	margin-bottom: 0px;
	border: 0px;
}
.header-home .navbar-header>a{
	padding-top: 2px;
}
.header-home .navbar-header img{
	max-height: 45px;
}
.label-warning{
	font-size: 15px;
	padding: 10px 15px;
	margin-top: 7px;
    margin-right: 0px;
    font-weight: 500;
    border-radius: 0px;
    display: inline-block;
    background-color: #EC870E;
}
.ctn-home{
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
	/*background-color: #fff;*/
}
.title-home{
	color: #EC870E;
	text-transform: uppercase;
	font-size: 32px;
	text-align: center;
	padding-bottom: 60px;
}
.content-home{
	background-color: #EFEFEF;
	/*background-image: url('../images/bg-home.jpg');*/
	background-position: center;
	padding-left: 0px;
	padding-right: 0px;
}
.item-type{
	text-align: center;
	padding-top: 15px;
}
.item-type img{
	height: 150px;
}
.sub-title-type{
	color: #fff;
	font-size: 15px;
	padding-top: 5px;
	margin-bottom: 15px;
	line-height: 20px;
}
.div-item-home{
	background-color:rgba(13,131,206,0.8);
	/*background-color: rgb(245,150,37);*/
	border: 1px solid #efefef;
	padding-left: 0px;
	padding-right: 0px;
}

/*account.html*/
.bg-account{
	background-image: url('../images/bg-banking.jpg');
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
	padding-left: 0px;
	padding-right: 0px;
	/*background-position: bottom;*/
	background-size: contain;
}
.infor-person{
	background-color: #fff;
}
	.header-content{
		padding-right: 0px; 
		padding-left: 0px; 
		box-shadow: rgba(228, 228, 228, 0.95) 0px 1px 4px; 
		background-color: #fff;
	}
	.header-content .container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.form-infor-account form{
		margin-top: 15px;
	}
	.navbar-header .no-pagl{
		padding-left: 0px;
	}
	.lst-btn-next-back{
		box-shadow: none;
		text-align: right;
	}
	.form-control{
		border-radius: 0px;
		box-shadow: none;
	}
	.title-account, .title-payment{
		color: rgb(58, 117, 187);
	    text-transform: uppercase;
	    text-align: center;
	}
	.btn-next{
		background-image: none;
		box-shadow: none;
		text-shadow: none;
		border: 0px;
		border-radius: 0px;
	}
	.form-infor-account{
		background: #fff;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
		}
/*detail-payment*/
.lst-option .lst-btn{
	padding-right: 0px;
}
.wizard {
    margin: 0px auto;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}

    .wizard .nav-tabs {
        position: relative;
        margin: 0px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
        margin-top: 15px;
    }

.connecting-line {
    height: 2px;
    background: #ec870e;
    position: absolute;
    width: 55%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: #aaa;
    border: 2px solid #aaaaaa;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 22px;
}
.disable .round-tab img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
span.round-tab img{
    /*color:rgb(58, 117, 187);*/
    height: 28px;
    margin: 8px auto;
}
.wizard li.active span.round-tab {
    background: #ec870e;
    border: 2px solid #ec870e;
    
}
.wizard li.active span.round-tab img{
    /*color: #fff;*/
    height: 28px;
    margin: 8px auto;
}

span.round-tab:hover {
    /*color: rgb(58, 117, 187);*/
    border: 2px solid #aaaaaa;
}
.nav-tabs{
	display: inline-block;
}
.nav-tabs>li {
	padding-right: 30px;
	padding-left: 30px;
}
.wizard-inner{
	text-align: center;
}
/*.wizard .nav-tabs > li {
    width: 25%;
}*/

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #f0ad4e;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 40%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ec870e;
}

.wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.wizard h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.div-table-money{
	padding-right: 15px;
	padding-left: 15px;
	
}
.title-form-account{
	text-align: center;
}
.detail-table{
	border: 1px solid rgba(42,41,43,.16);
    
	margin-bottom: 0px;
	background-color: #f9f9f9;
}
.detail-table>thead>tr>th{
	border-bottom: 0px;
	font-weight: 500;
	background-color: rgba(13,131,206,0.8);
	color: #fff;
}
.detail-table tbody .form-control{
	height: 30px;
	border-radius: 0px;
	box-shadow: none;
}
.txt-bold{
	font-weight: 600;
}
.tab-content{
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
	border-top: 0px;
}
.lst-btn{
	text-align: right;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.prev-step, .next-step{
	background-image: none;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}
.prev-step{
	background-color: #f7f7f7;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 10px 20px;
}
.number-money .form-control{
	border-radius: 0px;
	box-shadow: none;
}
.form-payment{
	padding-right: 0px; 
	padding-left: 0px;
	min-height: 100vh;
	/*background-color: #EFEFEF;*/
	background-image: url('../images/paris-bg.jpg');
}
.personal-customer{
	margin-right: 10px;
}


/*Footer*/
.footer-content{
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 32px;
	position:  absolute;
	bottom: 0;
	padding-right: 0px;
}
.copyright .license{
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
	font-size: 12px;
	font-weight: 500;
}
.copyright .menu-footer{
	float: right;
	margin-bottom: 0px;
}
.copyright .menu-footer li{
	display: inline-block;
	list-style-type: none;
	padding-left: 15px;
	padding-right: 15px;
}
.copyright .menu-footer li a{
	font-size: 12px;
	color: #323232;
}
.wizard form{
	padding-right: 0px;
	padding-left: 0px;
}


/*Confirm*/
.field{
	border-bottom: 1px solid #ddd;
	margin-bottom: 0px;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px 0px;
}
.detail-display-content{
	font-size: 14px;
}
.field .control-label{
	text-align: left;
	border-right: 1px solid #ddd;
}
