<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>

    <logger name="eTemplate">
      <appender-ref ref="eTemplate_Appender" />
    </logger>
    <appender name="eTemplate_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\eTemplate_Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <logger name="ServiceManagement">
      <appender-ref ref="ServiceManagement_Appender" />
    </logger>
    <appender name="ServiceManagement_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ServiceManagement_Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <logger name="ResourceManager">
      <appender-ref ref="ResourceManager_Appender" />
    </logger>
    <appender name="ResourceManager_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ResourceManager_Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    
    <logger name="Performance">
      <appender-ref ref="Performance_Appender" />
    </logger>
    <appender name="Performance_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Performance_Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>

    <logger name="Permission">
      <appender-ref ref="Permission_Appender" />
    </logger>
    <appender name="Permission_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Permission_Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d - %m%n"/>
      </layout>
    </appender>
    
  </log4net>
</configuration>